.App {
  display: flex;
  text-align: center;
  width: 300px;
  border-right: 3px solid #f4511e;
  float: left;
  align: center;

}

.button {
  display: inline-block;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: left;
  font-size: 28px;
  width: 150px;
  height: 68px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px 5px 5px 0px;
  vertical-align: middle;
  text-align: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.zoom:hover  {
}


.button:active {
    background-color: #4c1200;
}



input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 14px;
    background-color: white;
}

input:hover{
  border: 3px solid #f4511e;
}

input:focus {
    border: 3px solid #f4511e;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.spinner {

  width: 40px;
  height: 40px;
  background-color: #f4511e;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.searchForm{
  display: block;
  margin: auto;
}
